body {
    background-color: red;
    color: yellow;
    font-style: italic;
}

h1 {
    color: black;
    padding: 2rem;
    font-size: xxx-large;
    font-style: italic;
    margin-left: 38rem;
    text-decoration: underline;   

}

.George {
    margin-left: 41rem;
    
}

.Alaneme {
    margin-left:41rem;
    margin-bottom: 5rem;
}

h2 {
    color: black;
    padding: 2rem;
    font-size: xx-large;
    font-style: italic;  
    text-decoration: underline;
   
  }
  

.Nnamdi {
    color: black;
    padding: 2rem;
    font-size: xx-large;
    font-style: italic;
    margin-left: 40rem;
    text-decoration: underline;  
}

.Chigozie {
    color: black;
    font-size: xx-large;
    font-style: italic;  
    text-decoration: underline;  
    margin-left: 35rem;
}

.yeat {
    color: black;
    font-size: x-large;
    font-style: italic;  
    text-decoration: underline;  
    margin-left: 40rem;

}

h3 {
    color: black;
    font-size: x-large;
    font-style: italic;
    text-decoration: underline;
}

footer {
    background-color: yellowgreen;
    color: white;
    text-align: center;
    padding: 20px;
    list-style: none;
  }
  
  footer nav ul li {
    display: inline;
    margin-right: 20px;
    list-style: none;
  }
  
  footer nav ul li a {
    text-decoration: none;
    color: white;
    list-style: none;
  }

.gerno {
    padding-top: 1rem;
}
